# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
docs
android/.gradle
android/.idea
android/.cxx
android/build
android/app/build
android/app/release
android/app/debug
android/app/*.apk
android/app/*.aab
android/local.properties
android/*.iml
*.keystore
*.jks
*.pem
*.key
*.cert
*.crt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.env
